# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
media/
staticfiles/
emails/

# Env
.env
.env.*
!.env.example
!.env.*.example

# Testing & linting
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Docker
.dockerignore
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
