{% extends "base.html" %}
{% block title %}
    Reset password
{% endblock %}

{% block content %}

    <div class="centered_form_container">
    <h1 class="auth__title">Reset password</h1>
    <p>Forgotten your password? Enter email address below, and we'll email instructions for setting a new one</p>
        <form method="post" class="auth__form">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <input type="submit" class="btn btn-primary" value="Send">
        </form>
    </div>

{% endblock %}