{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="centered_form_container">
        {% if validlink %}
            <h1 class="auth__title">Change password</h1>
            <form method="post" class="auth__form">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">Password:</label>
                    {{ form.new_password1 }}
                    {% for error in form.new_password2.errors %}
                        <p class="form__error">
                            {{ error | striptags }}
                        </p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
                    {{ form.new_password2 }}
                </div>

                <input type="submit" class="btn btn-primary" value="Confirm">
            </form>

        {% else %}
            <p>
                This password reset link is invalid, probably because it has already been used. Please <a href="{% url 'password_reset' %}">request a new Password Reset</a> or
                <a href="{% url 'login' %}">proceed to Login</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}