{% extends "base.html" %}
{% block title %}
	Registration
{% endblock %}

{% block content %}
    <div class="centered_form_container">
        <h1 class="auth__title">User Registration</h1>
        <form method="post" class="auth__form">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                <p class="form__error">
                    {{ form.username.errors | striptags  }}
                </p>
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
                <p class="form__error">
                    {{ form.email.errors | striptags  }}
                </p>
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                {{ form.password1 }}
                <p class="form__error">
                    {{ form.password2.errors | striptags  }}
                </p>
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="error__message">{{ error_message }}</p>
    </div>
{% endblock %}