{% extends "base.html" %}

{% block title %}
    {{ blog_post.title }}
{% endblock %}

{% block content %}
    <div class="blog__post">
        <a href="{% url 'blog' %}" class="back-link">Back to Blog</a>
        <h2 class="blog__post-title">{{ blog_post.title }}</h2>
        <p class="blog__post-text">{{ blog_post.text }}</p>
        <ul class="blog__post__tags">
            {% for tag in blog_post.tag.all %}
                <li class="blog__post__tag">#{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}