{% extends 'base.html' %}

{% block title %}Animal Detail: {{ animal.name }}{% endblock %}

{% block content %}
    <section class="animal-detail-container">
        <a href="{% url 'animals' %}" class="back-link">Back to Animals</a>
        <h1 class="animal-detail-title">{{ animal.name }}</h1>
        <div class="animal-detail">
            <div class="animal-image">
                <img src="{{ animal.image.url }}" alt="{{ animal.name }}">
            </div>
            <div class="animal-info">
                <p><strong>Type:</strong> {{ animal.type }}</p>
                <p><strong>Sex:</strong> {{ animal.sex }}</p>
                <p><strong>Age:</strong> {{ animal.age }}</p>
                <p><strong>Breed:</strong> {{ animal.breed }}</p>
                <p><strong>Availability:</strong> {% if animal.availability %}Available{% else %}Not Available{% endif %}</p>
                <p><strong>Health:</strong> {% if animal.healthy %}Healthy{% else %}Not Healthy{% endif %}</p>
                <p class="animal-description">{{ animal.description }}</p>
            </div>
        </div>
    </section>
{% endblock %}