{% extends "base.html" %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <div class="page-container">
        <h1>Profile</h1>
        <div class="user-profile-image-container user-image-container">
            <img class="user-image" src="{{ image_url }}" alt="User photo">
            <a class="all-images-button" href="{% url 'user_images' %}">All images</a> <!-- Button inside image -->
        </div>
        <div class="user-info">
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
        </div>
        <a class="edit-button" href="{% url 'edit_profile' %}">Edit</a>
        <a class="logout-link" href="{% url 'logout' %}">Logout</a>
    </div>
{% endblock %}