{% extends "base.html" %}
{% block title %}
	User history
{% endblock %}
{% block content %}
    <h1>User history</h1>

    <h2>Schedule</h2>
    <table>
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Animal</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.start_time }}</td>
                    <td>{{ schedule.end_time }}</td>
                    <td>{{ schedule.animal }}</td>
                    <td>{{ schedule.user }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}