{% extends "base.html" %}
{% block title %}
	Log in
{% endblock %}

{% block content %}
    <div class="registration">
        <h1 class="registration__title">Log in</h1>
        <form method="post" class="registration__form">
            {% csrf_token %}

            <!-- Username Input -->
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <!-- Password Input -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
        <p>Username: AmKenny password: 1111 (admin)</p>
    </div>
{% endblock %}